<div class="nested-fields">

    <div class="field">
        <%= f.label :"Nome do Vereador" %>
        <%= f.text_field :nome %>

        <%= f.label :"Telefone do Vereador" %>
        <%= f.text_field :telefone %>

        <%= link_to_remove_association('[Remover]', f) %>
    </div>
</div>